@mixin theme-input($theme){
    &.input-icon-eye{
        fill: $theme;
    }
    &.focused-input{
        color: $theme;
    }
    &.filled{
        background-color: $light;
        border-bottom: 1px solid $theme;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &:hover{
            cursor: pointer;
            opacity: $opacity-hover;
        }

        &.disabled{
            cursor:default;
            opacity: $opacity-hover;
        }
    }

    &.outlined{
        border: 1px solid $theme;

        &:hover{
            background-color: $opacity-hover;
            border: 2px solid $theme;
            cursor: pointer;
        }
        &.disabled{
            cursor:default;
            border: 1px solid $theme;
            background-color: $white;
            opacity: $opacity-hover
        }
    }

    &.underlined{
        border-bottom: 1px solid $theme;
        border-radius: 0;
        &:hover{
            background-color: $opacity-hover;
            border: 2px solid $theme;
            cursor: pointer;
        }
        &.disabled{
            cursor:default;
            border: 1px solid transparent;
            background-color: $white;
            opacity: $opacity-hover;
        }
    }
}

@mixin size-input($width){
    width: $width;
    border-radius: 5px;
    height: 48px;
}