@mixin theme-dropdown($theme){
    &.contained{
        color:$white;
        background-color: $theme;

        &:hover{
            cursor: pointer;
            opacity: 1;
        }

        &.disabled{
            cursor:default;
            opacity: 1;
        }
    }

    &.outlined{
        color:$theme;
        background-color: $white;
        border:solid 1px $theme;
        &:hover{
            background-color: $hover-color;
            border: $border-color;
            cursor: pointer;
        }
        &.disabled{
            cursor:default;
            border: 1px solid $theme;
            background-color: $white;
            opacity: 1;
        }
    }
}

// non functioning
@mixin position($rightpos) {
    @if($rightpos == 'true'){
        right: 0px;
    }
}