.default-input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-inline: 16px;
  border: 1px solid transparent;
  gap: 20px;
  outline: none;
}
.default-input:hover {
  cursor: pointer;
  opacity: 50%;
}
.default-input.disabled {
  cursor: default;
  border: 1px solid transparent;
  opacity: 50%;
}

.default-textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 16px;
  border: 1px solid transparent;
  gap: 20px;
}
.default-textarea:hover {
  cursor: pointer;
  opacity: 50%;
}
.default-textarea.disabled {
  cursor: default;
  border: 1px solid transparent;
  opacity: 50%;
}

.primary-input.input-icon-eye {
  fill: #005596;
}
.primary-input.focused-input {
  color: #005596;
}
.primary-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #005596;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.primary-input.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.primary-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.primary-input.outlined {
  border: 1px solid #005596;
}
.primary-input.outlined:hover {
  background-color: 0.8;
  border: 2px solid #005596;
  cursor: pointer;
}
.primary-input.outlined.disabled {
  cursor: default;
  border: 1px solid #005596;
  background-color: white;
  opacity: 0.8;
}
.primary-input.underlined {
  border-bottom: 1px solid #005596;
  border-radius: 0;
}
.primary-input.underlined:hover {
  background-color: 0.8;
  border: 2px solid #005596;
  cursor: pointer;
}
.primary-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.secondary-input.input-icon-eye {
  fill: #a7a8a9;
}
.secondary-input.focused-input {
  color: #a7a8a9;
}
.secondary-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #a7a8a9;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.secondary-input.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.secondary-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.secondary-input.outlined {
  border: 1px solid #a7a8a9;
}
.secondary-input.outlined:hover {
  background-color: 0.8;
  border: 2px solid #a7a8a9;
  cursor: pointer;
}
.secondary-input.outlined.disabled {
  cursor: default;
  border: 1px solid #a7a8a9;
  background-color: white;
  opacity: 0.8;
}
.secondary-input.underlined {
  border-bottom: 1px solid #a7a8a9;
  border-radius: 0;
}
.secondary-input.underlined:hover {
  background-color: 0.8;
  border: 2px solid #a7a8a9;
  cursor: pointer;
}
.secondary-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.dark-input.input-icon-eye {
  fill: #343a40;
}
.dark-input.focused-input {
  color: #343a40;
}
.dark-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #343a40;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dark-input.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dark-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.dark-input.outlined {
  border: 1px solid #343a40;
}
.dark-input.outlined:hover {
  background-color: 0.8;
  border: 2px solid #343a40;
  cursor: pointer;
}
.dark-input.outlined.disabled {
  cursor: default;
  border: 1px solid #343a40;
  background-color: white;
  opacity: 0.8;
}
.dark-input.underlined {
  border-bottom: 1px solid #343a40;
  border-radius: 0;
}
.dark-input.underlined:hover {
  background-color: 0.8;
  border: 2px solid #343a40;
  cursor: pointer;
}
.dark-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.success-input.input-icon-eye {
  fill: #5bc2a7;
}
.success-input.focused-input {
  color: #5bc2a7;
}
.success-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #5bc2a7;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.success-input.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.success-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.success-input.outlined {
  border: 1px solid #5bc2a7;
}
.success-input.outlined:hover {
  background-color: 0.8;
  border: 2px solid #5bc2a7;
  cursor: pointer;
}
.success-input.outlined.disabled {
  cursor: default;
  border: 1px solid #5bc2a7;
  background-color: white;
  opacity: 0.8;
}
.success-input.underlined {
  border-bottom: 1px solid #5bc2a7;
  border-radius: 0;
}
.success-input.underlined:hover {
  background-color: 0.8;
  border: 2px solid #5bc2a7;
  cursor: pointer;
}
.success-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.info-input.input-icon-eye {
  fill: #4597d3;
}
.info-input.focused-input {
  color: #4597d3;
}
.info-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #4597d3;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.info-input.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.info-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.info-input.outlined {
  border: 1px solid #4597d3;
}
.info-input.outlined:hover {
  background-color: 0.8;
  border: 2px solid #4597d3;
  cursor: pointer;
}
.info-input.outlined.disabled {
  cursor: default;
  border: 1px solid #4597d3;
  background-color: white;
  opacity: 0.8;
}
.info-input.underlined {
  border-bottom: 1px solid #4597d3;
  border-radius: 0;
}
.info-input.underlined:hover {
  background-color: 0.8;
  border: 2px solid #4597d3;
  cursor: pointer;
}
.info-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.warning-input.input-icon-eye {
  fill: #ffbb41;
}
.warning-input.focused-input {
  color: #ffbb41;
}
.warning-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ffbb41;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.warning-input.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.warning-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.warning-input.outlined {
  border: 1px solid #ffbb41;
}
.warning-input.outlined:hover {
  background-color: 0.8;
  border: 2px solid #ffbb41;
  cursor: pointer;
}
.warning-input.outlined.disabled {
  cursor: default;
  border: 1px solid #ffbb41;
  background-color: white;
  opacity: 0.8;
}
.warning-input.underlined {
  border-bottom: 1px solid #ffbb41;
  border-radius: 0;
}
.warning-input.underlined:hover {
  background-color: 0.8;
  border: 2px solid #ffbb41;
  cursor: pointer;
}
.warning-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.danger-input.input-icon-eye {
  fill: #dc3545;
}
.danger-input.focused-input {
  color: #dc3545;
}
.danger-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dc3545;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.danger-input.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.danger-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.danger-input.outlined {
  border: 1px solid #dc3545;
}
.danger-input.outlined:hover {
  background-color: 0.8;
  border: 2px solid #dc3545;
  cursor: pointer;
}
.danger-input.outlined.disabled {
  cursor: default;
  border: 1px solid #dc3545;
  background-color: white;
  opacity: 0.8;
}
.danger-input.underlined {
  border-bottom: 1px solid #dc3545;
  border-radius: 0;
}
.danger-input.underlined:hover {
  background-color: 0.8;
  border: 2px solid #dc3545;
  cursor: pointer;
}
.danger-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.icon-container-left {
  margin-right: 10px;
}

.icon-container-right {
  margin-left: 10px;
}

.fullWidth-input {
  width: 100% !important;
}

.outlined-Input {
  border: 1px solid black;
}

.filled-Input {
  background-color: #f8f9fa;
  border-bottom: 1px solid black;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inputContainer {
  position: relative;
  height: 48px;
  width: 280px;
  margin: 10px 0px;
}

.inputContainer input {
  width: 100%;
  height: 100%;
}

.inputContainer label {
  position: absolute;
  left: 15px;
  top: 2px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  align-items: center;
  color: #a1a1a1;
  pointer-events: none;
  transition: 0.2s ease-in;
}

.inputContainer label.focused-input {
  position: absolute;
  height: fit-content;
  width: max-content;
  line-height: 12px;
  margin: 0%;
  top: -6px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  left: 15px;
  background-color: #fff;
  transition: 0.2s ease-in;
  z-index: 5;
}

.inputContainer button {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  right: 0px;
  top: 0px;
  height: 48px;
  width: 48px;
  padding: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inputContainer button:hover {
  cursor: pointer;
}

.required-input {
  background-color: #ffcdd2 !important;
  border: 2px solid #dc3545 !important;
}

.inputContainer p {
  position: absolute;
  height: fit-content;
  width: max-content;
  line-height: 12px;
  margin: 0%;
  bottom: -16px;
  left: 15px;
  font-size: 12px;
  margin: 0;
  color: #dc3545;
}

.notValid-input {
  background-color: #ffcdd2 !important;
  border: 2px solid #dc3545 !important;
}

.submit-input {
  background-color: #005596 !important;
  color: white !important;
}

.submit-input:hover {
  opacity: 0.8 !important;
  border: 2px solid #343a40 !important;
}

.input-icon-eye {
  fill: red;
  outline: none;
}

.input-icon-eye:hover {
  outline: none;
}

/*# sourceMappingURL=Input.css.map */
