.default-input {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  padding-inline: 1rem;
  border: 1px solid transparent;
  gap: 20px;
}
.default-input.disabled {
  cursor: default;
  border: 1px solid transparent;
  opacity: 50%;
}

.default-textarea {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  padding: 0.7rem 1rem;
  border: 1px solid transparent;
  gap: 20px;
  font-size: 0.925rem;
}
.default-textarea.disabled {
  cursor: default;
  border: 1px solid transparent;
  opacity: 50%;
}

.primary-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #005596;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.primary-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.primary-input.outlined {
  border: 1px solid #005596;
}
.primary-input.outlined.disabled {
  cursor: default;
  border: 1px solid #005596;
  background-color: white;
  opacity: 0.25;
}
.primary-input.underlined {
  border-bottom: 1px solid #005596;
  border-radius: 0;
}
.primary-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.primary-input:focus {
  outline: 2px solid #005596;
  outline-offset: -2px;
}

.secondary-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #a7a8a9;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.secondary-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.secondary-input.outlined {
  border: 1px solid #a7a8a9;
}
.secondary-input.outlined.disabled {
  cursor: default;
  border: 1px solid #a7a8a9;
  background-color: white;
  opacity: 0.25;
}
.secondary-input.underlined {
  border-bottom: 1px solid #a7a8a9;
  border-radius: 0;
}
.secondary-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.dark-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #343a40;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dark-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.dark-input.outlined {
  border: 1px solid #343a40;
}
.dark-input.outlined.disabled {
  cursor: default;
  border: 1px solid #343a40;
  background-color: white;
  opacity: 0.25;
}
.dark-input.underlined {
  border-bottom: 1px solid #343a40;
  border-radius: 0;
}
.dark-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.success-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #5bc2a7;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.success-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.success-input.outlined {
  border: 1px solid #5bc2a7;
}
.success-input.outlined.disabled {
  cursor: default;
  border: 1px solid #5bc2a7;
  background-color: white;
  opacity: 0.25;
}
.success-input.underlined {
  border-bottom: 1px solid #5bc2a7;
  border-radius: 0;
}
.success-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.info-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #4597d3;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.info-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.info-input.outlined {
  border: 1px solid #4597d3;
}
.info-input.outlined.disabled {
  cursor: default;
  border: 1px solid #4597d3;
  background-color: white;
  opacity: 0.25;
}
.info-input.underlined {
  border-bottom: 1px solid #4597d3;
  border-radius: 0;
}
.info-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.warning-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ffbb41;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.warning-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.warning-input.outlined {
  border: 1px solid #ffbb41;
}
.warning-input.outlined.disabled {
  cursor: default;
  border: 1px solid #ffbb41;
  background-color: white;
  opacity: 0.25;
}
.warning-input.underlined {
  border-bottom: 1px solid #ffbb41;
  border-radius: 0;
}
.warning-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.danger-input.filled {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dc3545;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.danger-input.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.danger-input.outlined {
  border: 1px solid #dc3545;
}
.danger-input.outlined.disabled {
  cursor: default;
  border: 1px solid #dc3545;
  background-color: white;
  opacity: 0.25;
}
.danger-input.underlined {
  border-bottom: 1px solid #dc3545;
  border-radius: 0;
}
.danger-input.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.danger-input:focus {
  outline: 2px solid #dc3545;
  outline-offset: -2px;
}

.icon-container-left {
  margin-right: 10px;
}

.icon-container-right {
  margin-left: 10px;
}

.fullWidth-input {
  width: 100% !important;
}

.outlined-Input {
  border: 1px solid black;
}

.filled-Input {
  background-color: #f8f9fa;
  border-bottom: 1px solid black;
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.inputContainer {
  position: relative;
  height: 2.5rem;
  width: 280px;
  margin: 10px 0px;
}

.inputContainer input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

/*.inputContainer input:focus{

}*/
.inputContainer label {
  position: absolute;
  left: 15px;
  top: 2px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  align-items: center;
  color: #a1a1a1;
  pointer-events: none;
  transition: 0.2s ease-in;
}

.inputContainer label.focused-input {
  position: absolute;
  height: fit-content;
  width: max-content;
  line-height: 12px;
  margin: 0%;
  top: -16px;
  font-size: 12px;
  margin: 0;
  left: 15px;
  color: #335599;
  background-color: #fff;
  transition: 0.2s ease-in;
}

.inputContainer button {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 2px;
  top: 2px;
  height: 2.25rem;
  width: 2.5rem;
  padding: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.inputContainer button:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.required-input {
  outline: 2px solid #dc3545 !important;
  outline-offset: -2px;
}

.inputContainer p {
  position: absolute;
  height: fit-content;
  width: max-content;
  line-height: 12px;
  margin: 0%;
  bottom: -20px;
  left: 15px;
  font-size: 0.875rem;
  margin: 0;
  color: #dc3545;
}

.notValid-input {
  outline: 2px solid #dc3545 !important;
  outline-offset: -2px;
}

.submit-input {
  background-color: #005596 !important;
  color: white !important;
}

.submit-input:hover {
  opacity: 0.8 !important;
  border: 100px solid #343a40 !important;
}
