
@import './utils/mixin';
@import '../css/utils/variables';


.default-input{
    width:100%;
    height: 100%;
    border-radius: 0.25rem;
    padding-inline: 1rem;
    border: 1px solid transparent;
    gap: 20px;


    &.disabled{
        cursor:default;
        border: 1px solid transparent;
        opacity: 50%
    }
}
.default-textarea{
    width:100%;
    height: 100%;
    border-radius: 0.25rem;
    padding: 0.7rem 1rem;
    border: 1px solid transparent;
    gap: 20px;
    font-size: 0.925rem;


    &.disabled{
        cursor:default;
        border: 1px solid transparent;
        opacity: 50%
    }
}

.primary-input{
    @include theme-input($primary);
}
.primary-input:focus{
    outline: 2px solid $primary;
    outline-offset: -2px;
}


.secondary-input{
    @include theme-input($secondary);
}

.dark-input{
    @include theme-input($dark);
}

.success-input{
    @include theme-input($success);
}

.info-input{
    @include theme-input($info);
}

.warning-input{
    @include theme-input($warning);
}

.danger-input{
    @include theme-input($danger);
}

.danger-input:focus{
    outline: 2px solid $danger;
    outline-offset: -2px;
}

.icon-container-left{
    margin-right: 10px;
}

.icon-container-right{
    margin-left: 10px;
}

.fullWidth-input{
    width: 100% !important;
}

.outlined-Input{
    border: 1px solid black;
}
.filled-Input{
    background-color: $light;
    border-bottom: 1px solid black;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.inputContainer{
    position: relative;
    height: 2.5rem;
    width: 280px;
    margin: 10px 0px;
}
.inputContainer input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
/*.inputContainer input:focus{

}*/

.inputContainer label{
    position:absolute;
    left: 15px;
    top: 2px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    align-items: center;
    color: #a1a1a1;
    pointer-events: none;
    transition: 0.2s ease-in;
}
.inputContainer label.focused-input{
    position: absolute;
    height: fit-content;
    width: max-content;
    line-height: 12px;
    margin: 0%;
    top: -16px;
    font-size: 12px;
    margin: 0;
    left: 15px;
    color: #335599;
    background-color: #fff;
    transition: 0.2s ease-in;
}
.inputContainer button{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 2px;
    top: 2px;
    height: 2.25rem;
    width: 2.5rem;
    padding: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.inputContainer button:hover{
    cursor: pointer;
    background-color: $light;
}
  
.required-input{
    outline: 2px solid $danger !important;
    outline-offset: -2px;
}


.inputContainer p{
    position: absolute;
    height: fit-content;
    width: max-content;
    line-height: 12px;
    margin: 0%;
    bottom: -20px;
    left: 15px;
    font-size: .875rem;
    margin: 0;
    color: $danger;
}
.notValid-input{
    //background-color: #ffcdd2 !important;
    outline: 2px solid $danger !important;
    outline-offset: -2px;
}
.submit-input{
    background-color: $primary !important;
    color: $white !important;
}
.submit-input:hover{
    opacity: 0.8 !important;
    border: 100px solid $dark !important;
}