$width-heigth-onlyIcon:34px;

@mixin theme-button($theme){
    &.contained-#{$class-name}{
        color:$white;
        background-color: $theme;

        &:hover{
            cursor: pointer;
            opacity: $opacity-hover;
        }

        &.disabled-#{$class-name}{
            cursor:default;
            opacity: $opacity-hover;
        }

        &.onlyIcon-#{$class-name}{
            width: $width-heigth-onlyIcon;
            height: $width-heigth-onlyIcon;
            overflow: hidden;
        }
    }

    &.outlined-#{$class-name}{
        color:$theme;
        background-color: $white;
        border:solid 1px $theme;
        &:hover{
            background-color: $hover-color;
            border: $border-color;
            cursor: pointer;
        }
        &.disabled-#{$class-name}{
            cursor:default;
            border: 1px solid $theme;
            background-color: $white;
            opacity: $opacity-hover
        }
        &.onlyIcon-#{$class-name}{
            width: $width-heigth-onlyIcon;
            height: $width-heigth-onlyIcon;
            overflow: hidden;
        }
    }
    &.text-#{$class-name}{
        color:$theme;
        background-color: $white;
        border:solid 1px transparent;
        &:hover{
            background-color: $hover-color;
            border:$border-color;
            cursor: pointer;
        }
        &.disabled{
            cursor:default;
            border: 1px solid transparent;
            background-color: $white;
            opacity: $opacity-hover;
        }
        &.onlyIcon{
            width: $width-heigth-onlyIcon;
            height: $width-heigth-onlyIcon;
            overflow: hidden;
        }
    }
}

@mixin size-button($height){
    width: 150px;
    border-radius: 5px;
    height: $height;
}