.default-Button {
  width: 150px;
  height: 48px;
  border-radius: 5px;
  padding: 0px, 40px;
  border: 1px solid transparent;
  gap: 20px;
}
.default-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.default-Button.disabled-Button {
  cursor: default;
  border: 1px solid transparent;
  opacity: 0.8;
}

.primary-Button.contained-Button {
  color: white;
  background-color: #005596;
}
.primary-Button.contained-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.primary-Button.contained-Button.disabled-Button {
  cursor: default;
  opacity: 0.8;
}
.primary-Button.contained-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.primary-Button.outlined-Button {
  color: #005596;
  background-color: white;
  border: solid 1px #005596;
}
.primary-Button.outlined-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.primary-Button.outlined-Button.disabled-Button {
  cursor: default;
  border: 1px solid #005596;
  background-color: white;
  opacity: 0.8;
}
.primary-Button.outlined-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.primary-Button.text-Button {
  color: #005596;
  background-color: white;
  border: solid 1px transparent;
}
.primary-Button.text-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.primary-Button.text-Button.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.primary-Button.text-Button.onlyIcon {
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.secondary-Button.contained-Button {
  color: white;
  background-color: #a7a8a9;
}
.secondary-Button.contained-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.secondary-Button.contained-Button.disabled-Button {
  cursor: default;
  opacity: 0.8;
}
.secondary-Button.contained-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.secondary-Button.outlined-Button {
  color: #a7a8a9;
  background-color: white;
  border: solid 1px #a7a8a9;
}
.secondary-Button.outlined-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.secondary-Button.outlined-Button.disabled-Button {
  cursor: default;
  border: 1px solid #a7a8a9;
  background-color: white;
  opacity: 0.8;
}
.secondary-Button.outlined-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.secondary-Button.text-Button {
  color: #a7a8a9;
  background-color: white;
  border: solid 1px transparent;
}
.secondary-Button.text-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.secondary-Button.text-Button.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.secondary-Button.text-Button.onlyIcon {
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.dark-Button.contained-Button {
  color: white;
  background-color: #343a40;
}
.dark-Button.contained-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dark-Button.contained-Button.disabled-Button {
  cursor: default;
  opacity: 0.8;
}
.dark-Button.contained-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.dark-Button.outlined-Button {
  color: #343a40;
  background-color: white;
  border: solid 1px #343a40;
}
.dark-Button.outlined-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.dark-Button.outlined-Button.disabled-Button {
  cursor: default;
  border: 1px solid #343a40;
  background-color: white;
  opacity: 0.8;
}
.dark-Button.outlined-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.dark-Button.text-Button {
  color: #343a40;
  background-color: white;
  border: solid 1px transparent;
}
.dark-Button.text-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.dark-Button.text-Button.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.dark-Button.text-Button.onlyIcon {
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.success-Button.contained-Button {
  color: white;
  background-color: #5bc2a7;
}
.success-Button.contained-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.success-Button.contained-Button.disabled-Button {
  cursor: default;
  opacity: 0.8;
}
.success-Button.contained-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.success-Button.outlined-Button {
  color: #5bc2a7;
  background-color: white;
  border: solid 1px #5bc2a7;
}
.success-Button.outlined-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.success-Button.outlined-Button.disabled-Button {
  cursor: default;
  border: 1px solid #5bc2a7;
  background-color: white;
  opacity: 0.8;
}
.success-Button.outlined-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.success-Button.text-Button {
  color: #5bc2a7;
  background-color: white;
  border: solid 1px transparent;
}
.success-Button.text-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.success-Button.text-Button.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.success-Button.text-Button.onlyIcon {
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.info-Button.contained-Button {
  color: white;
  background-color: #4597d3;
}
.info-Button.contained-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.info-Button.contained-Button.disabled-Button {
  cursor: default;
  opacity: 0.8;
}
.info-Button.contained-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.info-Button.outlined-Button {
  color: #4597d3;
  background-color: white;
  border: solid 1px #4597d3;
}
.info-Button.outlined-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.info-Button.outlined-Button.disabled-Button {
  cursor: default;
  border: 1px solid #4597d3;
  background-color: white;
  opacity: 0.8;
}
.info-Button.outlined-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.info-Button.text-Button {
  color: #4597d3;
  background-color: white;
  border: solid 1px transparent;
}
.info-Button.text-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.info-Button.text-Button.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.info-Button.text-Button.onlyIcon {
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.warning-Button.contained-Button {
  color: white;
  background-color: #ffbb41;
}
.warning-Button.contained-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.warning-Button.contained-Button.disabled-Button {
  cursor: default;
  opacity: 0.8;
}
.warning-Button.contained-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.warning-Button.outlined-Button {
  color: #ffbb41;
  background-color: white;
  border: solid 1px #ffbb41;
}
.warning-Button.outlined-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.warning-Button.outlined-Button.disabled-Button {
  cursor: default;
  border: 1px solid #ffbb41;
  background-color: white;
  opacity: 0.8;
}
.warning-Button.outlined-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.warning-Button.text-Button {
  color: #ffbb41;
  background-color: white;
  border: solid 1px transparent;
}
.warning-Button.text-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.warning-Button.text-Button.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.warning-Button.text-Button.onlyIcon {
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.danger-Button.contained-Button {
  color: white;
  background-color: #dc3545;
}
.danger-Button.contained-Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.danger-Button.contained-Button.disabled-Button {
  cursor: default;
  opacity: 0.8;
}
.danger-Button.contained-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.danger-Button.outlined-Button {
  color: #dc3545;
  background-color: white;
  border: solid 1px #dc3545;
}
.danger-Button.outlined-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.danger-Button.outlined-Button.disabled-Button {
  cursor: default;
  border: 1px solid #dc3545;
  background-color: white;
  opacity: 0.8;
}
.danger-Button.outlined-Button.onlyIcon-Button {
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.danger-Button.text-Button {
  color: #dc3545;
  background-color: white;
  border: solid 1px transparent;
}
.danger-Button.text-Button:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.danger-Button.text-Button.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.danger-Button.text-Button.onlyIcon {
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.small-Button {
  width: 150px;
  border-radius: 5px;
  height: 34px;
}

.medium-Button {
  width: 150px;
  border-radius: 5px;
  height: 40px;
}

.large-Button {
  width: 150px;
  border-radius: 5px;
  height: 50px;
}

.icon-container-left-Button {
  margin-right: 10px;
}

.icon-container-right-Button {
  margin-left: 10px;
}

.fullWidth-Button {
  width: 100%;
}