//utils
@import '../css/utils/variables';
@import './utils/mixins';

//hover-color - outlined and text
$hover-color:#cecece;
$border-color:solid 1px black;

.default{
    width:150px;
    height: 48px;
    border-radius: 5px;
    padding: 0px, 40px;
    border: 1px solid transparent;
    gap: 20px;

    &:hover{
        cursor: pointer;
        opacity: $opacity-hover;
    }

    &.disabled{
        cursor:default;
        border: 1px solid transparent;
        opacity: $opacity-hover
    }
}

$themes:('primary':$primary,'secondary':$secondary,'dark':$dark,'success':$success,'info':$info,'warning':$warning,'danger':$danger);

@each $key,$theme in $themes{
    .#{$key}{
        @include theme-button($theme);
    }
}

.small{
    @include size-button(34px)
}
.medium{
    @include size-button(40px)
}
.large{
    @include size-button(50px)
}

.icon-container-left{
    margin-right: 10px;
}

.icon-container-right{
    margin-left: 10px;
}

.fullWidth{
    width: 100%;
}