//utils
@import '../css/utils/variables';
@import './utils/mixins';

//hover-color - outlined and text
$hover-color:#cecece;
$border-color:solid 1px black;
$class-name:'Button';


.default-#{$class-name}{
    width:150px;
    height: 48px;
    border-radius: 5px;
    padding: 0px, 40px;
    border: 1px solid transparent;
    gap: 20px;

    &:hover{
        cursor: pointer;
        opacity: $opacity-hover;
    }

    &.disabled-#{$class-name}{
        cursor:default;
        border: 1px solid transparent;
        opacity: $opacity-hover
    }
}

$themes:('primary':$primary,'secondary':$secondary,'dark':$dark,'success':$success,'info':$info,'warning':$warning,'danger':$danger,'ghost':$ghost);

@each $key,$theme in $themes{
    .#{$key}-#{$class-name}{
        @include theme-button($theme);
    }
}

.small-#{$class-name}{
    @include size-button(34px)
}
.medium-#{$class-name}{
    @include size-button(40px)
}
.large-#{$class-name}{
    @include size-button(50px)
}

.icon-container-left-#{$class-name}{
    margin-right: 10px;
}

.icon-container-right-#{$class-name}{
    margin-left: 10px;
}

.fullWidth-#{$class-name}{
    width: 100%;
}
