.default {
  width: 150px;
  height: 48px;
  border-radius: 5px;
  padding: 0px, 40px;
  border: 1px solid transparent;
  gap: 20px;
}
.default:hover {
  cursor: pointer;
  opacity: 0.8;
}
.default.disabled {
  cursor: default;
  border: 1px solid transparent;
  opacity: 0.8;
}

.primary.contained {
  color: white;
  background-color: #005596;
}
.primary.contained:hover {
  cursor: pointer;
  opacity: 0.8;
}
.primary.contained.disabled {
  cursor: default;
  opacity: 0.8;
}
.primary.contained.onlyIcon {
  width: 40px;
  padding-top: 2px;
  overflow: hidden;
}
.primary.outlined {
  color: #005596;
  background-color: white;
  border: solid 1px #005596;
}
.primary.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.primary.outlined.disabled {
  cursor: default;
  border: 1px solid #005596;
  background-color: white;
  opacity: 0.8;
}
.primary.outlined.onlyIcon {
  width: 40px;
  overflow: hidden;
}
.primary.text {
  color: #005596;
  background-color: white;
  border: solid 1px transparent;
}
.primary.text:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.primary.text.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.primary.text.onlyIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.secondary.contained {
  color: white;
  background-color: #A7A8A9;
}
.secondary.contained:hover {
  cursor: pointer;
  opacity: 0.8;
}
.secondary.contained.disabled {
  cursor: default;
  opacity: 0.8;
}
.secondary.contained.onlyIcon {
  width: 40px;
  padding-top: 2px;
  overflow: hidden;
}
.secondary.outlined {
  color: #A7A8A9;
  background-color: white;
  border: solid 1px #A7A8A9;
}
.secondary.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.secondary.outlined.disabled {
  cursor: default;
  border: 1px solid #A7A8A9;
  background-color: white;
  opacity: 0.8;
}
.secondary.outlined.onlyIcon {
  width: 40px;
  overflow: hidden;
}
.secondary.text {
  color: #A7A8A9;
  background-color: white;
  border: solid 1px transparent;
}
.secondary.text:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.secondary.text.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.secondary.text.onlyIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.dark.contained {
  color: white;
  background-color: #343A40;
}
.dark.contained:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dark.contained.disabled {
  cursor: default;
  opacity: 0.8;
}
.dark.contained.onlyIcon {
  width: 40px;
  padding-top: 2px;
  overflow: hidden;
}
.dark.outlined {
  color: #343A40;
  background-color: white;
  border: solid 1px #343A40;
}
.dark.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.dark.outlined.disabled {
  cursor: default;
  border: 1px solid #343A40;
  background-color: white;
  opacity: 0.8;
}
.dark.outlined.onlyIcon {
  width: 40px;
  overflow: hidden;
}
.dark.text {
  color: #343A40;
  background-color: white;
  border: solid 1px transparent;
}
.dark.text:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.dark.text.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.dark.text.onlyIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.success.contained {
  color: white;
  background-color: #5BC2A7;
}
.success.contained:hover {
  cursor: pointer;
  opacity: 0.8;
}
.success.contained.disabled {
  cursor: default;
  opacity: 0.8;
}
.success.contained.onlyIcon {
  width: 40px;
  padding-top: 2px;
  overflow: hidden;
}
.success.outlined {
  color: #5BC2A7;
  background-color: white;
  border: solid 1px #5BC2A7;
}
.success.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.success.outlined.disabled {
  cursor: default;
  border: 1px solid #5BC2A7;
  background-color: white;
  opacity: 0.8;
}
.success.outlined.onlyIcon {
  width: 40px;
  overflow: hidden;
}
.success.text {
  color: #5BC2A7;
  background-color: white;
  border: solid 1px transparent;
}
.success.text:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.success.text.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.success.text.onlyIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.info.contained {
  color: white;
  background-color: #4597D3;
}
.info.contained:hover {
  cursor: pointer;
  opacity: 0.8;
}
.info.contained.disabled {
  cursor: default;
  opacity: 0.8;
}
.info.contained.onlyIcon {
  width: 40px;
  padding-top: 2px;
  overflow: hidden;
}
.info.outlined {
  color: #4597D3;
  background-color: white;
  border: solid 1px #4597D3;
}
.info.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.info.outlined.disabled {
  cursor: default;
  border: 1px solid #4597D3;
  background-color: white;
  opacity: 0.8;
}
.info.outlined.onlyIcon {
  width: 40px;
  overflow: hidden;
}
.info.text {
  color: #4597D3;
  background-color: white;
  border: solid 1px transparent;
}
.info.text:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.info.text.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.info.text.onlyIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.warning.contained {
  color: white;
  background-color: #FFBB41;
}
.warning.contained:hover {
  cursor: pointer;
  opacity: 0.8;
}
.warning.contained.disabled {
  cursor: default;
  opacity: 0.8;
}
.warning.contained.onlyIcon {
  width: 40px;
  padding-top: 2px;
  overflow: hidden;
}
.warning.outlined {
  color: #FFBB41;
  background-color: white;
  border: solid 1px #FFBB41;
}
.warning.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.warning.outlined.disabled {
  cursor: default;
  border: 1px solid #FFBB41;
  background-color: white;
  opacity: 0.8;
}
.warning.outlined.onlyIcon {
  width: 40px;
  overflow: hidden;
}
.warning.text {
  color: #FFBB41;
  background-color: white;
  border: solid 1px transparent;
}
.warning.text:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.warning.text.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.warning.text.onlyIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.danger.contained {
  color: white;
  background-color: #DC3545;
}
.danger.contained:hover {
  cursor: pointer;
  opacity: 0.8;
}
.danger.contained.disabled {
  cursor: default;
  opacity: 0.8;
}
.danger.contained.onlyIcon {
  width: 40px;
  padding-top: 2px;
  overflow: hidden;
}
.danger.outlined {
  color: #DC3545;
  background-color: white;
  border: solid 1px #DC3545;
}
.danger.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.danger.outlined.disabled {
  cursor: default;
  border: 1px solid #DC3545;
  background-color: white;
  opacity: 0.8;
}
.danger.outlined.onlyIcon {
  width: 40px;
  overflow: hidden;
}
.danger.text {
  color: #DC3545;
  background-color: white;
  border: solid 1px transparent;
}
.danger.text:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.danger.text.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}
.danger.text.onlyIcon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.small {
  width: 150px;
  border-radius: 5px;
  height: 34px;
}

.medium {
  width: 150px;
  border-radius: 5px;
  height: 40px;
}

.large {
  width: 150px;
  border-radius: 5px;
  height: 50px;
}

.icon-container-left {
  margin-right: 10px;
}

.icon-container-right {
  margin-left: 10px;
}

.fullWidth {
  width: 100%;
}