// @mixin theme-picker($theme) {
//   background-color: $theme;
//   color: $white;
// &.contained {
// }
// }

@mixin theme-picker-input($theme) {
  // background-color: $white;
  outline: 1px solid $theme;

  &:focus {
    outline: 2px solid $theme;
    outline-offset: -2px;
  }
}
