.default {
  width: 280px;
  height: 48px;
  border-radius: 5px;
  padding-inline: 16px;
  gap: 20px;
}
.default:hover {
  cursor: pointer;
  pointer-events: none;
  border: none;
}
.default.disabled {
  cursor: default;
  border: 1px solid transparent;
  opacity: 50%;
}

.primary.filled {
  color: white;
  background-color: #005596;
}
.primary.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.primary.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.primary.outlined {
  color: #005596;
  background-color: white;
  border: solid 1px #005596;
}
.primary.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.primary.outlined.disabled {
  cursor: default;
  border: 1px solid #005596;
  background-color: white;
  opacity: 0.8;
}
.primary.underlined {
  color: #005596;
  background-color: white;
  border: solid 1px transparent;
}
.primary.underlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.primary.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.secondary.filled {
  color: white;
  background-color: #A7A8A9;
}
.secondary.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.secondary.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.secondary.outlined {
  color: #A7A8A9;
  background-color: white;
  border: solid 1px #A7A8A9;
}
.secondary.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.secondary.outlined.disabled {
  cursor: default;
  border: 1px solid #A7A8A9;
  background-color: white;
  opacity: 0.8;
}
.secondary.underlined {
  color: #A7A8A9;
  background-color: white;
  border: solid 1px transparent;
}
.secondary.underlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.secondary.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.dark.filled {
  color: white;
  background-color: #343A40;
}
.dark.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dark.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.dark.outlined {
  color: #343A40;
  background-color: white;
  border: solid 1px #343A40;
}
.dark.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.dark.outlined.disabled {
  cursor: default;
  border: 1px solid #343A40;
  background-color: white;
  opacity: 0.8;
}
.dark.underlined {
  color: #343A40;
  background-color: white;
  border: solid 1px transparent;
}
.dark.underlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.dark.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.success.filled {
  color: white;
  background-color: #5BC2A7;
}
.success.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.success.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.success.outlined {
  color: #5BC2A7;
  background-color: white;
  border: solid 1px #5BC2A7;
}
.success.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.success.outlined.disabled {
  cursor: default;
  border: 1px solid #5BC2A7;
  background-color: white;
  opacity: 0.8;
}
.success.underlined {
  color: #5BC2A7;
  background-color: white;
  border: solid 1px transparent;
}
.success.underlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.success.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.info.filled {
  color: white;
  background-color: #4597D3;
}
.info.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.info.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.info.outlined {
  color: #4597D3;
  background-color: white;
  border: solid 1px #4597D3;
}
.info.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.info.outlined.disabled {
  cursor: default;
  border: 1px solid #4597D3;
  background-color: white;
  opacity: 0.8;
}
.info.underlined {
  color: #4597D3;
  background-color: white;
  border: solid 1px transparent;
}
.info.underlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.info.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.warning.filled {
  color: white;
  background-color: #FFBB41;
}
.warning.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.warning.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.warning.outlined {
  color: #FFBB41;
  background-color: white;
  border: solid 1px #FFBB41;
}
.warning.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.warning.outlined.disabled {
  cursor: default;
  border: 1px solid #FFBB41;
  background-color: white;
  opacity: 0.8;
}
.warning.underlined {
  color: #FFBB41;
  background-color: white;
  border: solid 1px transparent;
}
.warning.underlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.warning.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.danger.filled {
  color: white;
  background-color: #DC3545;
}
.danger.filled:hover {
  cursor: pointer;
  opacity: 0.8;
}
.danger.filled.disabled {
  cursor: default;
  opacity: 0.8;
}
.danger.outlined {
  color: #DC3545;
  background-color: white;
  border: solid 1px #DC3545;
}
.danger.outlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.danger.outlined.disabled {
  cursor: default;
  border: 1px solid #DC3545;
  background-color: white;
  opacity: 0.8;
}
.danger.underlined {
  color: #DC3545;
  background-color: white;
  border: solid 1px transparent;
}
.danger.underlined:hover {
  background-color: #cecece;
  border: solid 1px black;
  cursor: pointer;
}
.danger.underlined.disabled {
  cursor: default;
  border: 1px solid transparent;
  background-color: white;
  opacity: 0.8;
}

.icon-container-left {
  margin-right: 10px;
}

.icon-container-right {
  margin-left: 10px;
}

.fullWidth {
  width: 100%;
}

.underlined-Input {
  border-bottom: 1px solid #005596;
  border-radius: 0;
}

.outlined-Input {
  border: 1px solid #005596;
}

.filled-Input {
  background-color: #F8F9FA;
  border-bottom: 1px solid #005596;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inputContainer {
  position: relative;
  height: 48px;
  width: 280px;
  margin: 10px 15px;
}

.inputContainer:focus {
  outline: none;
  border: none;
  /*border: 1px solid $primary;*/
}

.inputContainer label {
  position: absolute;
  left: 15px;
  top: 2px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  align-items: center;
  color: #a1a1a1;
  pointer-events: none;
  transition: 0.2s ease-in;
}

.inputContainer label.focused {
  position: absolute;
  height: fit-content;
  line-height: 12px;
  margin: 0%;
  top: -6px;
  font-size: 12px;
  margin: 0;
  padding-inline: 5px;
  left: 15px;
  color: #335599;
  background-color: #fff;
  transition: 0.2s ease-in;
  outline: none;
}

.inputContainer button {
  position: absolute;
  background-color: transparent;
  border: none;
  right: -33px;
  top: 2px;
  height: 48px;
  width: 48px;
  padding: 0;
  border-radius: 5px;
}

/*# sourceMappingURL=Input.css.map */
