//utils
@import "../css/utils/variables";
@import "./utils/mixins";

.container-picker-grl {
  position: relative;
  // margin-left: 90px;
  // margin-top: 40px;
  user-select: none;

  .color-primary-picker {
    background-color: $primary;
    color: $white;
  }
}

.container-picker-input_label {
  position: relative;
  height: 2.5rem;
  width: 280px;
  // margin: 10px 0px;

  label {
    position: absolute;
    left: 15px;
    top: -1px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    align-items: center;
    color: #a1a1a1;
    pointer-events: none;
    transition: 0.2s ease-in;
  }

  label.focused-input {
    position: absolute;
    height: fit-content;
    width: max-content;
    line-height: 0.875rem;
    margin: 0%;
    top: -16px;
    font-size: 0.875rem;
    margin: 0;
    left: 15px;
    color: $primary;
    background-color: #fff;
    transition: 0.2s ease-in;
  }
}

.picker__input {
  // font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  padding: 1rem;
  // height: 48px;
  // width: 280px;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  // overflow: hidden;
  // position: relative;
  // &:hover {
  //   opacity: 50%;
  // }

  &.invalid-date {
    border: 1px solid $danger;
  }

  // &:focus {
  //   outline: 2px solid $primary;
  //   outline-offset: -2px;
  // }
}

.fullWidth__picker {
  width: 100%;
}

// .table-picker-show {
//   overflow: hidden;
// }

.container-picker {
  font-size: 0.875rem;
  // padding-top: 10px;
  // margin-top: 10px;
  // overflow: hidden;
  position: absolute;
  width: 245px;
  top: 2.5rem;
  left: 0;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
  border-radius: 0.25rem;
  z-index: $datepicker;
}

// $themes: (
//   "primary-picker": $primary,
// "secondary-picker": $secondary,
// "dark-picker": $dark,
// "success-picker": $success,
// "info-picker": $info,
// "warning-picker": $warning,
// "danger-picker": $danger,,,,,,,
// );

$themes-input: (
  "primary-picker-input": $dark,
  "secondary-picker-input": $secondary,
  "dark-picker-input": $dark,
  "success-picker-input": $success,
  "info-picker-input": $info,
  "warning-picker-input": $warning,
  "danger-picker-input": $danger,
);

// @each $name, $theme in $themes {
//   .#{$name} {
//     @include theme-picker($theme);
//   }
// }

@each $name, $theme in $themes-input {
  .#{$name} {
    @include theme-picker-input($theme);
  }
}

.container-picker__header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0 20px;

  span {
    display: flex;
    align-items: center;
    cursor: pointer;
    // margin-right: 8px;
    font-weight: 600;

    &:hover {
      color: #e6e6e6;
    }
    label {
      cursor: pointer;
      width: 24px;
      text-align: center;
      // height: 100%;
    }
  }
}

.container-picker__date {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.picker-content {
  color: black;
  background-color: #fff;
  border-radius: 0 0 4px 4px;

  thead tr td {
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
  }

  tbody tr td {
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 34px;

    &:hover {
      background-color: #e6e6e6;
      border-radius: 0.25rem;
    }
  }

  tbody tr td.selected {
    color: #fff;
    background-color: $success;
    border-radius: 0.25rem;
    font-weight: 600;
  }

  tbody tr td.blocked {
    cursor: not-allowed;
    color: #bcbcbc;
  }
  .blockedCalendar {
    color: #bcbcbc;
  }
}

.months {
  height: 200px;
  color: black;
  background-color: #fff;

  table {
    width: 100%;
    height: 100%;
  }

  table tbody tr td {
    text-align: center;
    cursor: pointer;
  }

  table tbody tr td:hover {
    background-color: #e6e6e6;
  }
}

.years {
  height: 200px;
  color: black;
  background-color: #fff;

  table {
    width: 100%;
    height: 100%;
  }

  table tbody tr td {
    text-align: center;
    cursor: pointer;
  }

  table tbody tr td:hover {
    background-color: #e6e6e6;
  }
}

.todayButton {
  // width: 100px;
  color: $dark;
  font-weight: 600;
  td {
    border-top: 1px solid #e6e6e6;
    user-select: none;
  }
}
