//utils
@import "../css/utils/variables";
@import "./utils/mixins";

.picker__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 12px;
  outline: none;
}

.container-picker {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 280px;
  // padding-top: 10px;
  margin-top: 10px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
  border-radius: 4px;
}

$themes: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

@each $name, $theme in $themes {
  .#{$name} {
    @include theme-picker($theme);
  }
}

.container-picker__header {
  display: flex;
  justify-content: space-around;
  height: 40px;

  span {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
      color: #e6e6e6;
    }
  }
}

.container-picker__date {
  display: flex;
  // justify-content: space-around;
  align-items: center;
}

.picker-content {
  color: black;
  background-color: #fff;
  // border-spacing: 8px;

  thead tr td {
    text-align: center;
  }

  tbody tr td {
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 36.17px;

    &:hover {
      background-color: #e6e6e6;
    }
  }

  tbody tr td.selected {
    color: #fff;
    background-color: $success;
    border-radius: 50%;
  }

  tbody tr td.blocked {
    cursor: not-allowed;
    color: #bcbcbc;
  }
}

.months {
  height: 224px;
  color: black;
  background-color: #fff;

  table {
    width: 100%;
    height: 100%;
  }

  table tbody tr td {
    text-align: center;
    cursor: pointer;
  }

  table tbody tr td:hover {
    background-color: #e6e6e6;
  }
}

.years {
  height: 224px;
  color: black;
  background-color: #fff;

  table {
    width: 100%;
    height: 100%;
  }

  table tbody tr td {
    text-align: center;
    cursor: pointer;
  }

  table tbody tr td:hover {
    background-color: #e6e6e6;
  }
}

.todayButton{
  // width: 100px;
  color: $primary;
  td {
    border-top: 1px solid #e6e6e6;

  }
}
