.picker__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  outline: none;
  height: 48px;
}

.fullWidth__picker {
  width: 95%;
}

.container-picker {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 280px;
  position: absolute;
  top: 70px;
  left: 16px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  border-radius: 4px;
  z-index: 4;
}

.primary-picker {
  background-color: #005596;
  color: white;
}

.secondary-picker {
  background-color: #A7A8A9;
  color: white;
}

.dark-picker {
  background-color: #343A40;
  color: white;
}

.success-picker {
  background-color: #5BC2A7;
  color: white;
}

.info-picker {
  background-color: #4597D3;
  color: white;
}

.warning-picker {
  background-color: #FFBB41;
  color: white;
}

.danger-picker {
  background-color: #DC3545;
  color: white;
}

.container-picker__header {
  display: flex;
  justify-content: space-around;
  height: 40px;
}
.container-picker__header span {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
}
.container-picker__header span:hover {
  color: #e6e6e6;
}
.container-picker__header span label {
  cursor: pointer;
}

.container-picker__date {
  display: flex;
  align-items: center;
}

.picker-content {
  color: black;
  background-color: #fff;
}
.picker-content thead tr td {
  text-align: center;
}
.picker-content tbody tr td {
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 36.17px;
}
.picker-content tbody tr td:hover {
  background-color: #e6e6e6;
}
.picker-content tbody tr td.selected {
  color: #fff;
  background-color: #5BC2A7;
  border-radius: 50%;
}
.picker-content tbody tr td.blocked {
  cursor: not-allowed;
  color: #bcbcbc;
}
.picker-content .blockedCalendar {
  color: #bcbcbc;
}

.months {
  height: 224px;
  color: black;
  background-color: #fff;
}
.months table {
  width: 100%;
  height: 100%;
}
.months table tbody tr td {
  text-align: center;
  cursor: pointer;
}
.months table tbody tr td:hover {
  background-color: #e6e6e6;
}

.years {
  height: 224px;
  color: black;
  background-color: #fff;
}
.years table {
  width: 100%;
  height: 100%;
}
.years table tbody tr td {
  text-align: center;
  cursor: pointer;
}
.years table tbody tr td:hover {
  background-color: #e6e6e6;
}

.todayButton {
  color: #005596;
}
.todayButton td {
  border-top: 1px solid #e6e6e6;
}
