//utils
@import "../css/utils/variables";
@import "./utils/mixins";

.picker__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  // height: 36px;
  // width: 250px;
  padding: 12px;
  outline: none;
}

.container-picker {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 280px;
  padding-top: 10px;
  margin-top: 10px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

$themes: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

@each $name, $theme in $themes {
  .#{$name} {
    @include theme-picker($theme);
  }
}

.container-picker__header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.container-picker__header span {
  cursor: pointer;
}

.container-picker__date span {
  margin-left: 8px;
  cursor: pointer;
}

// .container-picker__date span:nth-child(1) {
//   cursor: pointer;
// }

// .container-picker__date span:nth-child(2) {
//   cursor: pointer;
// }

.container-datepicker__namedays {
  background-color: #fff;
  color: #000;
}

.calendar {
  // width: 100%;
  color: black;
  background-color: #fff;
  // border-spacing: 8px;
  //set the cells to be square 24x24
  // & > tbody > tr > td {
  // }
  // margin-left: 1px;
}

.calendar .weekdayContainer td {
  // width: 20px;
  // height: 20px;
  text-align: center;
}

.calendar tbody tr td {
  text-align: center;
  cursor: pointer;

  width: 50px;
  height: 36.17px;
}

.calendar tbody tr td.selected {
  color: #fff;
  background-color: $success;
  // margin-left: 25%;
  // margin-right: 25%;
  border-radius: 50%;

  // background-color:blue;
  // display:block;
  // height:100%;
  // width:50%;
  // border-radius:50%;
  // margin:auto;
  // line-height:50px;
}
