.container-picker-grl {
  position: relative;
  user-select: none;
}
.container-picker-grl .color-primary-picker {
  background-color: #005596;
  color: white;
}

.container-picker-input_label {
  position: relative;
  height: 2.5rem;
  width: 280px;
}
.container-picker-input_label label {
  position: absolute;
  left: 15px;
  top: -1px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  align-items: center;
  color: #a1a1a1;
  pointer-events: none;
  transition: 0.2s ease-in;
}
.container-picker-input_label label.focused-input {
  position: absolute;
  height: fit-content;
  width: max-content;
  line-height: 0.875rem;
  margin: 0%;
  top: -16px;
  font-size: 0.875rem;
  margin: 0;
  left: 15px;
  color: #005596;
  background-color: #fff;
  transition: 0.2s ease-in;
}

.picker__input {
  font-size: 0.875rem;
  padding: 1rem;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
}
.picker__input.invalid-date {
  border: 1px solid #dc3545;
}
.picker__input:focus {
  outline: 2px solid #005596;
  outline-offset: -2px;
}

.fullWidth__picker {
  width: 100%;
}

.container-picker {
  font-size: 0.875rem;
  position: absolute;
  width: 245px;
  top: 2.5rem;
  left: 0;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  border-radius: 0.25rem;
  z-index: 9997;
}

.primary-picker-input {
  outline: 1px solid #343a40;
}

.secondary-picker-input {
  outline: 1px solid #a7a8a9;
}

.dark-picker-input {
  outline: 1px solid #343a40;
}

.success-picker-input {
  outline: 1px solid #5bc2a7;
}

.info-picker-input {
  outline: 1px solid #4597d3;
}

.warning-picker-input {
  outline: 1px solid #ffbb41;
}

.danger-picker-input {
  outline: 1px solid #dc3545;
}

.container-picker__header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0 20px;
}
.container-picker__header span {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}
.container-picker__header span:hover {
  color: #e6e6e6;
}
.container-picker__header span label {
  cursor: pointer;
  width: 24px;
  text-align: center;
}

.container-picker__date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.picker-content {
  color: black;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}
.picker-content thead tr td {
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
}
.picker-content tbody tr td {
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 34px;
}
.picker-content tbody tr td:hover {
  background-color: #e6e6e6;
  border-radius: 0.25rem;
}
.picker-content tbody tr td.selected {
  color: #fff;
  background-color: #5bc2a7;
  border-radius: 0.25rem;
  font-weight: 600;
}
.picker-content tbody tr td.blocked {
  cursor: not-allowed;
  color: #bcbcbc;
}
.picker-content .blockedCalendar {
  color: #bcbcbc;
}

.months {
  height: 200px;
  color: black;
  background-color: #fff;
}
.months table {
  width: 100%;
  height: 100%;
}
.months table tbody tr td {
  text-align: center;
  cursor: pointer;
}
.months table tbody tr td:hover {
  background-color: #e6e6e6;
}

.years {
  height: 200px;
  color: black;
  background-color: #fff;
}
.years table {
  width: 100%;
  height: 100%;
}
.years table tbody tr td {
  text-align: center;
  cursor: pointer;
}
.years table tbody tr td:hover {
  background-color: #e6e6e6;
}

.todayButton {
  color: #343a40;
  font-weight: 600;
}
.todayButton td {
  border-top: 1px solid #e6e6e6;
  user-select: none;
}
