@mixin theme-alert($theme) {
     &.filled {
          background-color: $theme;
          color: $light;
          svg{
               fill: $light;
               width: 30px;
               height: 30px;
          }
     }
     &.outlined{
          background-color: $white;
          border:2px solid $theme;
          color: $theme;
          svg{
               fill: $theme;
               margin: 0 auto;
               width: 25px; 
               height: 25px;
          }
     }
}
