//globals variables
//backgorunds
$primary : #005596;
$secondary: #A7A8A9;
$light: #F8F9FA;
$dark: #343A40;


$success: #5BC2A7;
$info: #4597D3;
$warning: #FFBB41;
$danger: #DC3545;

//color-text / contained
$white:white;

//button----------------------------------------------------------------------------------------

//hover-color - outlined and text
$hover-color:#cecece;
$border-color:solid 1px black;

//opacidad contaned
$opacity-hover:0.8;

//-----------------------------------------------------------------------------------------------

//tables
$pagination: #D7D7D7;